.hi{
    color: white;
    padding-left: 190px;
    padding-top: 160px;
}
.confirm{
    padding-top: 5px;
}
.ei{
    padding-top: 10px;
}
.dem{
    padding-top: 5px;
}
.choose{
    padding-Right:60px;
    padding-top: 5px;
}
.ll{
    padding-top: 20px;
    padding-left:95px;
}