.hl{
    color: white;
    padding-left: 150px;
    padding-top: 150px;

}
.bnm
{
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
}
.BNM{
    padding-left: 135px;
    padding-top: 20px;
}