.hm
{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 160px;
    padding-top: 200px;
}
.cvb
{
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
}
.CVB{
    padding-left: 135px;
    padding-top: 20px;
}
