.Democlasses{
    padding-top:15px; ;
    padding-left: 150px;
    
}
.Rg{
    padding-top: 5px;
    padding-left:20px; 
}


.dc{
    background-color:limegreen ;
    border-radius: 15px;
}
.rgr{
    background-color:limegreen ;
    border-radius: 15px;
}
.re
{
    padding-top: 10px;
    padding-left: 170px; 
}
.fees
{
    color: white;
    padding-left: 300px;
    padding-top: 3px;
}